{{- if (eq .chezmoi.os "darwin") -}}
{{- if (eq .chezmoi.hostname "Zands-MacBook-M1-Pro") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
"homebrew/cask-versions"
"homebrew/cask-fonts"
"railwaycat/emacsmacport"
"borkdude/brew"
"yqrashawn/goku"
-}}

{{ $brews := list
"coreutils"
"aspell"
"babashka"
"bat"
"clojure/tools/clojure"
"borkdude/brew/clj-kondo"
"clojure-lsp"
"fd"
"fzf"
"goku"
"leiningen"
"markdown"
"mas"
"node"
"readline"
"svn"
"ripgrep"
"rlwrap"
"wget"
-}}

{{ $casks := list
"font-hack-nerd-font"
"font-source-code-pro"
"font-jetbrains-mono-nerd-font"
"font-jetbrains-mono"
"alfred"
"brave-browser"
"discord"
"emacs-mac"
"google-chrome"
"hammerspoon"
"intellij-idea-ce"
"karabiner-elements"
"macvim"
"microsoft-word"
"microsoft-excel"
"microsoft-powerpoint"
"qlcolorcode"
"qlimagesize"
"qlmarkdown"
"qlstephen"
"qlvideo"
"scrivener"
"sizeup"
"slack"
"spotify"
"superduper"
"temurin11"
"visual-studio-code"
"vlc"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ( $taps | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}

{{ end -}}
